<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.select :from_id, From.all.map{|from| [from.place.name, from.id]}, class: 'form-control'%><br>

    <%= f.label :to %><br>
    <%= f.select :to_id, To.all.map{|to| [to.place.name, to.id]}, class: 'form-control'%>
  </div>

  </br>
    <%= f.submit  class: "btn btn-primary" %>
<% end %>
