<p id="notice"><%= notice %></p>
<p>
  <strong>From:</strong>
  <%= @travel.from.place.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @travel.to.place.name %>
</p>
<p>
  <strong>User:</strong>
  <%= @travel.user.name %>
</p>
<%= link_to 'Back', '/' %>
